@keyframes scaleInOut {
    0% {
        transform: scale(1);
        background: white;
    }

    50% {
        transform: scale(1.35);
        /* bg-amber-300 */
        background: rgb(252 211 77);
    }

    100% {
        transform: scale(1);
        background: white;
    }
}

.scaleInOut {
    animation: scaleInOut .75s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}